<a href="https://colab.research.google.com/github/Nandini254/7027/blob/master/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To print the integers from 1 to 100
def fizz_buzz(num):
    if num%3==0 and num%5==0:
        return 'FizzBuzz'
    elif num%3==0:
        return 'Fizz'
    elif num%5==0:
        return 'Buzz'
    else:
        return num
for n in range(1,100):
    print(fizz_buzz(n))

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

In [ ]:
#To remove consecutive duplicates from list
from itertools import groupby
test_list=[1,4,4,4,5,6,7,4,3,3,9]
print("The original list is:"+str(test_list))
res=[i[0] for i in groupby(test_list)]
print("The list after removing consecutive duplicates:"+str(res))

The original list is:[1, 4, 4, 4, 5, 6, 7, 4, 3, 3, 9]
The list after removing consecutive duplicates:[1, 4, 5, 6, 7, 4, 3, 9]

In [ ]:
#To find unique element from a list
def unique_list(l):
    x=[]
    for a in l:
       if a not in x:
           x.append(a)
    return x
print(unique_list([1,2,2,3,3,4,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
#To check whether a number is in a given range
def test_range(n):
     if n in range(3,9):
          print("%s is in the range"%str(n))
     else:
          print("The number is outside the given range.")
test_range(12)

The number is outside the given range.

In [6]:
#Accepts a string and calculates the number of uppercase letter and lowercase letters
def count_upper_lower(string):
     lowercase_letter_count=0
     uppercase_letter_count=0
     for letter in string:
         if letter.isupper():
              uppercase_letter_count+=1
         elif letter.islower():
              lowercase_letter_count+=1
              print(uppercase_letter_count, lowercase_letter_count)
count_upper_lower("Hello Mr.Rogers,how are you this fine Tuesday?")

1 1
1 2
1 3
1 4
2 5
3 6
3 7
3 8
3 9
3 10
3 11
3 12
3 13
3 14
3 15
3 16
3 17
3 18
3 19
3 20
3 21
3 22
3 23
3 24
3 25
3 26
3 27
4 28
4 29
4 30
4 31
4 32
4 33