<a href="https://colab.research.google.com/github/Nandini254/7027/blob/master/Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Dictionary is a mutable data type in python.A python dictionary is a collection of key and value pairs seperated by a colon.
mydict={'StuName':'Nandu','StuAge':'18','StuCity':'Anantapur'}
print("Student Age is:",mydict['StuAge'])
print("Student City is:",mydict['StuCity'])

Student Age is: 18
Student City is: Anantapur

In [ ]:
#To sum all the items in a list
def sum_list(items):
    sum_numbers=0
    for x in items:
         sum_numbers += x
    return sum_numbers
print(sum_list([4,-20,6]))

-10

In [ ]:
#To create a list of empty dictionaries
n=4
l=[{ } for _ in range(n)]
print(l)

[{}, {}, {}, {}]

In [ ]:
#To access dictionary keys element by index
num={'physics':80,'math':90,'chemistry':86}
print(list(num)[2])

chemistry

In [ ]:
#To iterate over dictionaries using for loops
d={'blue':4,'Green':2,'Blue':5}
for color_key,value in d.items():
    print(color_key,'corresponds to',d[color_key])

blue corresponds to 4
Green corresponds to 2
Blue corresponds to 5

In [ ]:
#To sum all the items in a dictionary
my_dict={'num1':10,'num2':-54,'num3':50}
print(sum(my_dict.values()))

6

In [ ]:
#Concatenate dictionaries to create a new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={ }
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#Expected result:{1:10,2:20,3:30,4:40,5:50,6:60}
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={ }
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#To create a tuple
x=()
print(x)

()

In [ ]:
#To create a tuple with different data types
tuplex=("tuple",True,4.3,1)
print(tuplex)

('tuple', True, 4.3, 1)

In [ ]:
#To convert a tuple to a string
tup=('N','a','n','d','u')
str= ''.join(tup)
print(str)

Nandu

In [ ]:
#To slice a tuple
tuplex=('N','a','n','d','u')
_slice=tuplex[2:]
print(_slice)

('n', 'd', 'u')

In [ ]:
#Length of a tulle
tuplex=tuple("python")
print(tuplex)
print(len(tuplex))

('p', 'y', 't', 'h', 'o', 'n')
6

In [ ]:
#Convert a tuple to dictionary
tuplex=((1,"N"),(4,"a"))
print(dict((y,x) for x,y in tuplex))

{'N': 1, 'a': 4}

In [ ]:
#To reverse a tuple
x=(5,10,15,20)
y=reversed(x)
print(tuple(y))

(20, 15, 10, 5)

In [ ]:
#Convert a list of tuples in to a dictionary
l=[("N",1),("a",2),("n",3),("d",4),("u",5)]
d={ }
for a,b in l:
     d.setdefault(a,[]).append(b)
print(d)

{'N': [1], 'a': [2], 'n': [3], 'd': [4], 'u': [5]}

In [ ]:
#Convert list to tuple
listx=[5,10,7,4,15,3]
tuplex=tuple(listx)
print(tuplex)

(5, 10, 7, 4, 15, 3)